* {
    margin: 0;
    padding: 0;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    box-sizing: border-box;
}

img {
    width: 100%;
    display: block;
}

html {
    font-size: 62.5%;
}